<div class="container" ng-controller="RegisterCtrl as ctrl">

    <div class="col-sm-4 col-sm-offset-2">

        <br>
        <flash-message
                duration="5000"
                show-close="true"
                on-dismiss="myCallback(flash);"
        ></flash-message>

        <!-- LOGIN FORM -->
        <form name="registerForm" ng-submit="ctrl.register()" novalidate autocomplete="off">
            <div class="form-group input-field col s6">
                <input type="email" class="form-control" ng-model="ctrl.emailAddress"
                       name="emailAddress" placeholder="Email address" required>
                <div class="help-block"
                     ng-show="registerForm.emailAddress.$error.required">
                    <p>Email Address is mandatory</p>
                </div>
            </div>
            <div class="form-group input-field col s6">
                <input type="text" class="form-control" ng-model="ctrl.firstName"
                       name="firstName" placeholder="First Name" required>
                <div class="help-block"
                     ng-show="registerForm.firstName.$error.required">
                    <p>First Name is mandatory</p>
                </div>
            </div>
            <div class="form-group input-field col s6">
                <input type="text" class="form-control" ng-model="ctrl.lastName"
                       name="lastName" placeholder="Last Name" required>
                <div class="help-block"
                     ng-show="registerForm.lastName.$error.required">
                    <p>Last Name is mandatory</p>
                </div>
            </div>
            <div class="form-group input-field col s6">
                <input type="password" class="form-control" ng-model="ctrl.password"
                       name="password" placeholder="Password" required>
                <div ng-show="registerForm.password.$invalid">
                    <p>Password is mandatory.</p>
                </div>
            </div>
            <div class="form-group input-field col s6">
                <input type="password" class="form-control" ng-model="ctrl.confirmpassword"
                       name="confirmpassword" placeholder="Confirm Password" compare-to="ctrl.password" required>
                <div ng-show="registerForm.confirmpassword.$invalid">
                    <p>Passwords do not match</p>
                </div>
            </div>

            <button type="submit" class="btn btn-default btn-lg">Register</button>
        </form>
        <hr>
        <p>
            Already have an account? <a ui-sref="SignIn">Login</a>
        </p>

    </div>

    <div class="col-sm-4">
        <div style="margin-top: 40px;">
            <a href="/oauth/google" class="btn btn-block btn-social btn-google">
                <i class="fa fa-google-plus" aria-hidden="true"></i> Google
            </a>
            <a href="/oauth/facebook" class="btn btn-block btn-social btn-facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
            </a>
            <a href="/oauth/twitter" class="btn btn-block btn-social btn-twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
            </a>
            <a href="/oauth/linkedIn" class="btn btn-block btn-social btn-linkedin">
                <i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn
            </a>
            <a href="/oauth/wechat" class="btn btn-block btn-social btn-wechat">
                <i class="fa fa-wechat" aria-hidden="true"></i> WeChat
            </a>
        </div>
    </div>
</div>