<div class="container">
    <div class="row">
         <div class="col-md-4"></div>
         <div class="col-md-4">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="assets/images/default-user2.jpg">
                </div>
                <div class="info" data-ng-controller="ProfileCtrl as profileCtrl">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">{{profileCtrl.localProfile.firstName}} {{profileCtrl.localProfile.lastName}}</a>
                    </div>
                    <div class="desc text-uppercase">Passionate Full Stack Developer</div>
                    <div class="desc text-uppercase">Curious developer</div>
                    <div class="desc text-uppercase">Stack Up</div>
                    <div class="desc text-uppercase">{{profileCtrl.localProfile.email}}</div>

                </div>
                <div class="page-header text-center" ng-controller="LogoutCtrl as ctrl">
                    <button type="button" ng-click="ctrl.logout()" class="btn btn-default btn-lg">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </button>

                </div>
            </div>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>
